        body{
          margin: 0;
          padding: 0;
          overflow: hidden;
        }
        .vapor
        {
          display: none;
        }
  .swimming{
    position: fixed; z-index: -99;  left: -7%; top: -7%; width:114%; height: 114%;
  }
    .cover{
    position: fixed; z-index: 1;   width:114%; height: 114%;
  }
